    body {
        font-family: 'Inter', sans-serif;
        background-color: #101827;
        /* Deep Navy Blue */
        color: #E0E7E9;
        /* A light, creamy gray for text */
        line-height: 1.6;
        scroll-behavior: smooth;
    }

    .section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        padding: 2rem;
        box-sizing: border-box;
        border-bottom: 1px solid #30394A;
        /* A lighter line for separation */
    }

    .main-content {
        flex: 1;
    }

    /* Define the background colors for each section using a gradient effect */


    .bg-section-2 {
        background-color: #1A2333;
    }

    .bg-section-3 {
        background-color: #252E40;
    }

    .bg-section-4 {
        background-color: #30394A;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0D131B;
        /* A darker navy for the sidebar */
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    .sidebar-nav a {
        padding: 0.75rem 0;
        margin-bottom: 0.5rem;
        color: #E0E7E9;
        /* White links */
        transition: color 0.3s ease;
        display: block;
        text-decoration: none;
        font-size: 1.1rem;
    }

    .sidebar-nav a:hover {
        color: #ffffff;
        font-weight: bold;
    }